@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
#mainLogin{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-image: linear-gradient(to right, black, rgb(0, 30, 54));
    text-rendering: geometricPrecision;

    color: white;
}


#mainLogin .left-side{
    width: 65%;
    height: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#mainLogin .left-side h1{
    font-size: 5em;
    margin: 0;
    margin-top: 2em;
    background-image: linear-gradient(to bottom, white 50%, rgba(0,0,0,0));
    background-clip: text;
    -webkit-text-fill-color: transparent;

}
#mainLogin .left-side p{
    width: 80%;
    text-align: center;
    color: #ccc;

}
#mainLogin .left-side hr{
    width: 90%;
    background-color: #363636;
    border-radius: 100%;
}


#mainLogin .input-side {
    border: 1px solid #ccc;
    height: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 2em;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


#mainLogin .input-side li{
    list-style: none;
    text-align: left;
    padding: 0;
}
#mainLogin .input-side li p{
    width: 100%;
    text-align: left;
    color: white;
    font-weight: bolder;
}
#mainLogin .input-side input{
    padding: 10px;
    border-radius: 10px;
    width: 420px;
    border: 2px solid rgb(0, 132, 255);
    background-color: transparent;
    color: #ccc;
    font-weight: bolder;
}

#mainLogin .buttons button {
    width: 80%;
    margin: 0 auto;
    margin-top: 4em;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;

    border: none;
    background-color: rgb(0, 132, 255);
    color: white;
    font-weight: bolder;

}
#mainLogin .buttons button:hover{
    background-color: rgb(1, 99, 190);

}

#mainLogin .success-message-id{

    display: block;

    pointer-events: none;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 10px;

    background-color: rgb(0, 190, 41);
    width: 570px;
    padding: .2px 5px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    font-weight: bolder;
    text-align: center;
    top: -60px;
    box-shadow: 0 0 10px black;
    transition: transform 0.3s ease-in-out;
}

#mainLogin .error-message.transformedd {
    transform: translateY(70px);

}

#mainLogin .error-message a{
    color: rgb(22, 0, 0);
    font-weight: bolder;
}
#mainLogin .error-message{

    display: block;

    pointer-events: none;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 10px;

    background-color: rgb(0, 190, 41);
    width: 570px;
    padding: .2px 5px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    font-weight: bolder;
    text-align: center;
    top: -60px;
    box-shadow: 0 0 10px black;
    transition: transform 0.3s ease-in-out;
}

#mainLogin .error-message.transformed {
    transform: translateY(70px);

}

#mainLogin .error-message a{
    color: rgb(22, 0, 0);
    font-weight: bolder;
}
#mainLogin .addAccount{
    display: flex;
    align-items: center;
    color: rgb(0, 132, 255);
    font-size: 12px;
    width: 100%;
}


